@font-face {
  font-family: BalsamiqSans;
  src: url('../assets/BalsamiqSans-Regular.ttf');
}

html {
  background: rgb(157, 155, 208);
  user-select: none;
}

body {
  font-family: BalsamiqSans, sans-serif;
  color: #666;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(157, 155, 208);
  background: linear-gradient(90deg, rgba(157, 155, 208, 1) 0%, rgba(124, 166, 228, 1) 100%);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.book {
  width: 90vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .book {
    width: 100vh;
    max-width: 50vh;
  }
}

button.turn-page {
  padding: 1px 5px !important;
  border-radius: 30px !important;
}

.control,
.language {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.control {
  padding-top: 20px;
  padding-bottom: 30px;
  user-select: none;
}

.page-count {
  font-size: 18px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.language {
  padding-top: 30px;
  font-size: 30px;
  user-select: none;
}

.language:hover {
  cursor: pointer;
}

.language img {
  padding: 0 5px !important;
  border: 1px solid transparent;
  border-radius: 30px !important;
  width: 40px;
}

.language img.active {
  border: 1px solid lightseagreen;
  background-color: #b8e0dd;
}

.language img:not(:last-child) {
  margin-right: 30px;
}

#flipbook {
  height: 100%;
}

#flipbook .page {
  background-color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

#flipbook .page-wrapper {
  perspective: 2000px;
}

#flipbook .hard {
  border-radius: 5px;
  background: rgb(57, 105, 129) !important;
  background: linear-gradient(
    90deg,
    rgba(57, 105, 129, 1) 0%,
    rgba(72, 114, 143, 1) 100%
  ) !important;
  color: #fff;
  box-shadow: inset 0 0 5px rgb(57, 105, 129);
  font-weight: bold;
}

#flipbook .odd,
#flipbook .even {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.95, #fff),
    color-stop(1, #dadada)
  );
  background-image: linear-gradient(right, #fff 95%, #c4c4c4 100%);
  box-shadow: inset 0 0 5px #666;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.cover .content {
  height: 100%;
}

.cover .content .title {
  font-size: 30px;
}

.cover .content img {
  width: 90%;
}

.page-content .content .title {
  height: 10%;
}

.page-content .content img {
  width: 90%;
}

#flipbook .page.beach {
  background: #fff3ed !important;
}
